<style>
  
</style>
<nav class="navbar navbar-inverse" style="background-color: #F7DADA; height:100px;border:none;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="container-fluid" style="margin-top: 0px;">
    <div class="navbar-header">
      <img src="/images/LOGO_OF_RUHUNA-removebg-preview.png" style="display: flex; float:left ;height:80px;margin-top:10px;margin-right:10px;">
      <a class="navbar-brand" href="#"><p style="font-family:'Montserrat';text-transform: uppercase;font-weight:bold;   color:#7A0505;font-size: 50px;text-shadow: 30px -5px 24px #FFFFFF;margin-top:16px">Library Management System</p><p style="font-family: 'Montserrat';font-weight:bold;font-style:normal;color:black;text-transform:uppercase;margin:0%;padding:0%;font-size:23px;">University of ruhuna</p></a>
    </div>

    <ul class="nav navbar-nav navbar-right" style="margin-top:19px;font-size:20px">
      <li ><a href="/" style="color: black" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color=' black'">Home</a></li>
      <li><a href="/book/add-book" style="color: black" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color=' black'">Add Books</a></li>
      <li><a href="/user/signup" style="color: black" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color=' black'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/user/login"style="color: black" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color=' black'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   <li><a href="/user/profile"style="color: black" onMouseOver="this.style.color='white'"
   onMouseOut="this.style.color=' black'"><span class="glyphicon glyphicon-home"></span> Profile </a></li>
    </ul>
  </div>
</nav>